<body>
  <div class="faulttask-box">
    <h1>Fault Type</h1>

    <div id="UploadArea">
      <img [src]="transformer()" style="width: 25%; height: 25%" />
      <br />
      <label> Choose a Part Fault Image to update </label>
      <br />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <div class="faulttask-text">
      <form [formGroup]="PartFaultForm" (ngSubmit)="onFormSubmit(PartFaultForm)">
        <div id="ObjArea">
          <br />
          <!-- <div class="faulttask-box"> -->
          <!-- <div class="faulttask-text"> -->
            <h6>Fault Type</h6>
            <input type="text" required formControlName="FaultType1" />
            <br />
            <!-- <input
                type="text"
                class="form-control"
                placeholder="ID"
                formControlName="PartFaultID"
              /> -->
            <h6>Part Needed</h6>
            <select
              required
              class="form-control"
              placeholder="Part"
              formControlName="PartNeeded"
            >
              <option *ngFor="let part of Parts" [value]="part.PartName">
                {{ part.PartName }}
              </option>
            </select>

            <br />
            <br />
        </div>
          <!-- Button trigger modal -->

          <!-- data-toggle="modal"
          data-target="#Success" -->
         
          <button
            id="CreateObj" 
            type="submit"
          
          >
            
            Update
          </button>

          <!-- Button trigger modal -->
          <button
            type="button"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            data-dismiss="modal"
          >
            Delete
          </button>
      </form>
    </div>
  </div>
</body>

    <!-- Modal -->
    <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to Delete this Fault Type?
        </div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            data-toggle="modal"
           
            data-dismiss="modal"
            (click)="DeleteFaultType(ID)"
          >
            Yes
          </button>
          <!-- =data-target="#SuccessDel" -->
          <button
            type="button"
            class="btn btn-secondary cancel"
            data-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  <!-- SuccessModal -->
  <div
    class="modal fade"
    id="Success"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">Fault Type was successfully Updated</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            data-toggle="modal"
            (click)="GoBack()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="SuccessDel"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">Fault Type was successfully Deleted</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            data-toggle="modal"
            (click)="GoBack()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>