body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  min-height: 100%;
  height: auto;
}

button {
  color: white;
  display: inline;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}

.jobList {
  margin-top: 80px;
}
.jobList h1 {
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

table td {
  text-align: center;
}

.trcollapse {
  background-color: rgba(134, 158, 195, 0.2);
}

.searchDiv {
  float: right;
  padding-bottom: 10px;
}

img {
  width: 30px;
  transition: all ease 300ms;
}
img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all ease 300ms;
}
a {
  margin-right: 10px;
}

h2 {
  font-size: x-large;
  padding-left: 3%;
}

/* .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  font-size: large;
  height: 1.5em;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #000000, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000000;
  background-color: #fcfcfa;
} */

thead {
  background-color: #001844;
  color: white;
  text-align: center;
}

table td {
  text-align: center;
  background-color: rgba(134, 158, 195, 0.2);
  border-color: rgba(0, 24, 68, 0.2);
}
