<body>
  <div class="jobList">
    <h1 class="labelName">Job list for: {{ FormDate }}</h1>

    <div class="searchDiv">
      <button
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
      >
        Check-In Bicycle
      </button>
    </div>

    <br />
    <br />

    <hr class="hr-text" data-content="Fault Jobs" />

    <br />
    <h2>Fault Jobs</h2>
    <table class="table" id="jobsTable">
      <thead class="thead">
        <tr>
          <th scope="col">Bicycle Code</th>
          <th scope="col">Job Status</th>
          <th scope="col">Date Reported</th>
          <th scope="col">Date Scheduled</th>
          <th scope="col">Action</th>
          <!-- <th scope="col">Assigned</th> -->
          <!-- <th>Fix</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of RepairJobList">
          <td>{{ job.BicycleCode }}</td>
          <td>{{ job.RepairJobStatus }}</td>
          <td>{{ job.DateReported }}</td>
          <td>{{ job.DateScheduled }}</td>
          <!-- <td>{{ job.Assigned }}</td> -->
          <td>
            <img
              src="assets/images/edit.svg"
              (click)="JobTasks(job.RepairJobID)"
              title="Click here to see the Tasks that need to be performed in this Repair job"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />
    <!-- 
    Maintenance Jobs -->
    <!--  -->
    <hr class="hr-text" data-content="Maintenance Jobs" />

    <br />
    <h2>Maintenance Jobs</h2>
    <table class="table">
      <thead class="thead">
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Bicycle Code</th>
          <th scope="col">Job Status</th>
          <th scope="col">Date Scheduled</th>
          <th scope="col">Action</th>
          <!-- <th scope="col">Assigned</th> -->
          <!-- <th>Fix</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of JobList">
          <!-- <td>{{ job.MaintenanceJobID }}</td> -->
          <td>{{ job.BicycleCode }}</td>
          <td>{{ job.MaintenanceJobStatus }}</td>
          <td>{{ job.DateScheduled }}</td>
          <!-- <td>{{ job.Assigned }}</td> -->
          <td>
            <img
              src="assets/images/edit.svg"
              (click)="MaintenanceList(job.MaintenanceJobID)"
              title="Click here to see the Tasks that need to be performed in this Maintenance job"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
