<body>
    <div class="bicycle-box">
      <h1>Part Type</h1>
  
      <div class="bicycle-text">
        <form [formGroup]="PartTypeForm" (ngSubmit)="onFormSubmit(PartTypeForm)">
          <h6>Part Type:</h6>
          <input type="text" #PartType formControlName="PartType1" required/>
  
          <!--Input Validation-->
          <div class="alert alert-primary" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Please enter the Part Type
          </div>
  
          <!--Error Message-->
          <div class="alert alert-warning" role="alert" style="display: none">
            <strong>Error!</strong> There was an issue creating a new Part Type.
            Please try again.
          </div>

          <br />

          <span class="alert alert-primary" *ngIf="PartTypeForm.invalid">
            Please ensure all fields are filled in and valid
          </span>
          <br />
          <!-- <button class="thebutton" type="submit" data-toggle="modal" data-target="#create"> Create </button> -->
  
          <button type="submit" class="thebutton" [disabled]="!PartTypeForm.valid">Create</button>
          <button class="thebutton" (click)="GoToList()">Cancel</button>
        </form>
      </div>
    </div>
  </body>
  
  <br />
  <br />
  
  <div
    class="modal fade"
    id="create"
    tabindex="-1"
    role="dialog"
    aria-labelledby="create"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="create">Success</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Part Type has been added successfully.</div>
        <div class="modal-footer">
          <button type="button" class="thebutton" routerLink="/parttype">
            Ok
          </button>
          <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
        </div>
      </div>
    </div>
  </div>