<body>
  <form #UserForm="ngForm" (ngSubmit)="onFormSubmit(LoginService.UserForm)">
    <div class="login-box">
      <h1>Welcome Back!</h1>
      <p>Please log into your account</p>

      <div class="login-text">
        <!-- <h6>Username:</h6>
      <input type="text" />

      <div class="alert alert-primary username" style="display: block;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Please enter your Username -->

        <h6>Username:</h6>
        <input
          type="text"
          required
          name="Username"
          #Username="ngModel"
          [(ngModel)]="LoginService.UserForm.Username"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Username.invalid && Username.touched"
        >
          Username is required
        </span>
        <br />
        <br />
        <h6>Password:</h6>
        <input
          type="password"
          required
          name="Password"
          #Password="ngModel"
          [(ngModel)]="LoginService.UserForm.Password"
        />
        <br />

        <span
          class="alert alert-primary"
          *ngIf="Password.invalid && Password.touched"
        >
          Password is required
        </span>
        <br />
        <br />

        <!-- <h6>Password:</h6>
    <input type="password" />

    <div class="alert alert-warning" style="display: block;">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> Login failed, please make sure your Username and
      Password are correct
    </div> -->
        <button type="submit" [disabled]="UserForm.invalid"  title="Click here to login">Login</button>
        <br />
        <button (click)="forgotPassword()"  title="Click here if you forgot your password">Forgot Password?</button>
      </div>
    </div>
  </form>
</body>
