<body>
  <div class="bicyclePart">
    <h1>Bicycle Assignment</h1>

    <div class="searchDiv">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (keyup)="SearchBicycles($event)"
      />
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Bicycle Code</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student Surname</th>
          <th scope="col">Date Assigned</th>


          <th scope="col">Bicycle Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bal of BiycyleAssignList">
          <td scope="row">{{ bal.BicycleCode }}</td>
          <td>{{ bal.StudentName }}</td>

          <td>{{ bal.StudentSurname }}</td>
          <td>{{ bal.DateAssigned }}</td>

          <td>{{ bal.BicycleStatus }}</td>
          <td>
            <button
              class="unassignbutton"
              *ngIf="bal.BicycleStatus == 'Assigned'"
              (click)="UnassignBicycle(bal.BicycleCode)"
              title="Click to Unassign a bicycle"
            >
              Unassign
            </button>

            <button
              class="assignbutton"
              *ngIf="bal.BicycleStatus == 'Available'"
              (click)="AssignBicycle(bal.BicycleCode)"
              title="Click to Assign a bicycle"
            >
              Assign
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<!-- Modal Start -->
<div
  class="modal fade"
  id="AssignModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Are you sure you want to delete this Tag? -->
        The Bicycle has been successfully unassigned.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>
