<form #StudentForm="ngForm">
  <body>
    <div class="bicyclePart">
      <h1>Student Report</h1>

      <br />
      <br />

      <div>
        <button
          (click)="exportexcel()"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="StudentForm.invalid"
          data-toggle="modal"
          data-target="#download"

        >
          Download in Excel
        </button>

        <!-- <button
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          data-toggle="modal"
          data-target="#download"
        >
          Download in PDF
        </button> -->

        <button
          (click)="GenerateReport()"
          id="generaterTing"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="StudentForm.invalid"
        >
          Generate Report
        </button>

        <br />
        <br />

        <label for="Start Date">Start Date: </label>
        <input
          required
          #startDate="ngModel"
          class="Datey"
          type="date"
          id="startdate"
          name="startDate"
          [(ngModel)]="start"
        
        />

        &nbsp; &nbsp;
        <label for="End Date">End Date: </label>
        <input
          required
          #endDate="ngModel"
          class="Datey"
          type="date"
          id="enddate"
          name="endDate"
          [(ngModel)]="end"
          
        />
      </div>

      <br />
      <span
        class="alert alert-primary"
        *ngIf="startDate.invalid && startDate.touched"
      >
        Please enter a start date
      </span>

      <span
        class="alert alert-primary"
        *ngIf="endDate.invalid && endDate.touched"
      >
        Please enter a end date
      </span>
      <!-- <br />
      <br /> -->

      <!-- <br /> -->
      <!-- Bootstrap Class to show an Error, Try using your own style with Sass-->
      <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
        Come on, there is No option selected there!
      </div>
      <!-- <br /> -->

      <!-- <h6>Choose Year:</h6>
                <select id="Yeary">
                    <option>Select</option>
                    <option>2020</option>
                    <option>2019</option>
                </select>

            <br> <br>

            <h6>Choose School Term:</h6>
                <select id="Termy">
                    <option>Select</option>
                    <option>1st Term</option>
                    <option>2nd Term</option>
                </select> -->

      <br />

      <!-- <div *ngIf="chart">
        <h3>Student Report</h3>
        <canvas id="canvas">{{ chart }}</canvas>
      </div> -->

    <div>
      <canvas #canvas id="chart">{{ chart }}</canvas>
    </div>

    <br />

      <table class="table" id="table">
        <!--START OF FIRST TABLE-->
        <div *ngFor="let school of TableData;" id="tab">
          <thead class="thead">
            <tr>
              <td colspan="2" id="ControlBreakHead"> School Name: {{ school.SchoolName }} | Total Students: {{ school.TotalStudents }} </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="ControlBreakHead"> Start Date: {{ start }} | End Date : {{ end }}</td>
            </tr>
            <tr>
              <th scope="col">Student Name</th>
              <th scope="col">Bicycle Code</th>
              <th scope="col">Age</th>
              <th scope="col">Attendance %</th>
              <th scope="col">Average Mark %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of school.Students">
              <td id="someshade" scope="row">{{ student.StudentName }}</td>
              <td>{{ student.BicycleCode }}</td>
              <td>{{ student.Age }}</td>
              <td>{{ student.Attendance }}%</td>
              <td>{{ student.AverageMark }}%</td>
            </tr>
            <tr>
              <td id="blankem"></td>
              <td id="blankem"></td>
              <td id="blankem"></td>
              <td id="ControlBreakFoot">{{ school.AverageSchoolAttendance }}% - Average School Attendance</td>
              <td id="ControlBreakFoot">{{ school.OverallSchoolAverage }}% - Overall School Average</td>
            </tr>

            <br>
          </tbody>
        </div>
      </table>
<!-- 
      <br />
      <br /> -->
    </div>

    <!-- <h2>Overall Pass Rate: {{ passage }}%</h2>
    <h2>Overall School Attendance: {{ attendage }}%</h2> -->
  </body>
</form>

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Student Report has been downloaded successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>