<body>
  <div class="Antenna">
    <h1>Student Management</h1>

    <div class="searchDiv">
     <a> <img (click)="CreateStudent()" src="assets/images/plus.svg" title="Click here to create a new Student"/> </a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Student"
        aria-label="Search"
        (keyup)="SearchStudents($event)"
      />
      <!-- <button
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
        (click)="SearchOptions()"
      >
        Search Options
      </button> -->
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Bicycle Code</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of StudentList">
          <td>{{ student.StudentName }}</td>
          <td>{{ student.StudentSurname }}</td>
          <td>{{ student.BicycleCode }}</td>
          <td>
            <img
              (click)="ViewStudent(student.StudentID)"
              src="assets/images/edit.svg"
              title="Click here to view the student's details"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

