<form [formGroup]="UserForm" (ngSubmit)="onFormSubmit(UserForm)">
  <body>
    <div class="bicycle-box">
      <h1>Mechanic</h1>
      <!-- testing validation -->

      <!-- end of testing -->

      <div class="bicycle-text">
        <input
          required
          type="text"
          style="display: none"
          class="form-control"
          placeholder="UserID"
          formControlName="UserID"
        />

        <h6>Name:</h6>
        <input
          required
          type="text"
          required
          class="form-control"
          placeholder="Firstname"
          formControlName="Firstname"
        />

        <!-- <span
            class="alert alert-primary"
            *ngIf="Firstname.invalid && Firstname.touched"
          >
            Firstname is required
          </span> -->

        <h6>Surname:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Surname"
          formControlName="Surname"
        />

        <h6>Email:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="Email"
        />

        <h6>Username:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="Username"
        />

        <h6>User Type:</h6>
        <!-- <select name="UserTypeID" #UserType="ngModel" [(ngModel)]="UserService.UserForm.UserTypeID"> -->
        <select
          required
          class="form-control"
          placeholder="UserType"
          formControlName="UserTypeID"
        >
          <!-- <option>--Select--</option>
            <option>Administrator</option>
            <option>School Administrator</option>
            <option>Mechanic</option> -->
          <option *ngFor="let userType of UserTypes" [value]="userType.ID">
            {{ userType.UserType }}
          </option>
        </select>
        <br />
        <br />

        <h6>Phone Number:</h6>
        <input
          required
          minlength="10"
          type="text"
          class="form-control"
          placeholder="Telephone"
          formControlName="Telephone"
        />

        <br />
        <br />
        <span class="alert alert-primary" *ngIf="UserForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />
        <br />

        <!--  -->
        <button
          type="submit"
          data-toggle="modal"
          data-target="#successup"
          [disabled]="!UserForm.valid"
        >
          Update
        </button>

        <!--  -->
        <button type="button" data-toggle="modal" data-target="#DeleteModal">
          Delete
        </button>

        <button type="button" (click)="School(ID)">
          Mechanic School and Workdays
        </button>
      </div>
    </div>
  </body>

  <!--Delete Modal -->
  <div
    class="modal fade"
    id="DeleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        </div>
        <div class="modal-body">Are you sure you want to Delete this User?</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            (click)="DeleteUser(ID)"
            data-toggle="modal"
            data-target="#successdel"
            data-dismiss="modal"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-secondary cancel"
            data-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- SuccessModal Update -->
  <div
    class="modal fade"
    id="successup"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">User was successfully Updated</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary OkBtn"
            data-dismiss="modal"
            (click)="User()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- SuccessModal Delete -->
  <div
    class="modal fade"
    id="successdel"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">User was successfully Deleted</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary OkBtn"
            data-dismiss="modal"
            (click)="User()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
