<body>
  <div class="Antenna">
    <h1>Tag Management</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="CreateTag()" title="Click here to create a new tag"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search by for a Tag"
        aria-label="Search"
        (keyup)="SearchTags($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Tag Serial Number</th>
          <th scope="col">Bicycle Code</th>
          <th scope="col">Tag Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of TagList">
          <td>{{ tag.TagSerialNumber }}</td>
          <td>{{ tag.BicycleCode }}</td>
          <td>{{ tag.TagStatus }}</td>
          <td>
            <img (click)="ViewTag(tag.TagID)" src="assets/images/edit.svg" title="Click here to view this Tag's details"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
