<body>
  <div class="bicycle-box">
    <h1> Student Mark</h1>
    <form (ngSubmit)="onFormSubmit(studentMarksService.StudentMarkForm)">
      <div class="bicycle-text">
        <h6>Full Name:</h6>
        <input type="text" name="Mark" [value]="CurrentStudentName" readonly />
        <h6>Mark:</h6>
        <input type="number" name="Mark" [(ngModel)]="studentMarksService.StudentMarkForm.Mark" />
        <h6>Mark Type:</h6>
        <select name="MarkTypeID" [(ngModel)]="studentMarksService.StudentMarkForm.MarkTypeID">
          <option *ngFor="let marktype of MarkTypeList" [value]="marktype.MarkTypeID">
            {{ marktype.MarkType1 }}
          </option>
        </select>
        <br>
        <br>
        <h6>Date:</h6>
        <input name="Date" type="date" [(ngModel)]="studentMarksService.StudentMarkForm.Date" />

          <button (click)="CaptureMark" class="thebutton" type="submit" title="Click here to capture student marks">Capture</button>
          <button (click)="GoToList()" class="thebutton" >Cancel</button>
      </div>
    </form>
    <br>
    <br>

    <br />
    <!-- <div *ngIf="chart"> -->
    <!-- Student Marks Graph -->

    <!-- <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div> -->

    <div>
      <canvas #canvas>{{ chart }}</canvas>
    </div>

    <br />

    <div class="container">
      <h1> Student Mark History</h1>
        
      <button
      (click)="exportexcel()"
      class="btn btn-outline-success my-2 my-sm-0 searchBtn"
      type="submit"
      data-toggle="modal"
      data-target="#download"
      title="Click here if you want to download this in Excel"
      >
      <!--[disabled]="nomarks===true"-->
        Download in Excel
      </button>

      <table class="table" id="excel-table">
        <thead class="thead">
          <tr>
            <th scope="col">Mark</th>
            <th scope="col">Mark Type</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mark of StudentMarkList">
            <td>{{mark.Mark}}</td>
            <td>{{mark.MarkType}}</td>
            <td>{{mark.Date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>