<body>
  <div class="faultList">
    <!-- <form
      #faultForm="ngForm"
      (ngSubmit)="onFormSubmit(FaultService.JobFaultForm)"
    > -->
    <h1>Fault List</h1>

    <div class="searchDiv">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        data-toggle="modal"
        data-target="#Success"
        (click)="UpdateJobStatus(ID)"
        [disabled]="complete === false"
        title="Click here to complete the job but remember, you can only complete the job once all tasks are done"
      >
        Complete Job
      </button>
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Section</th>
          <th scope="col">Part</th>
          <th scope="col">Fault Details</th>
          <th scope="col">Job Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fault of FaultList">
          <td>{{ fault.Section }}</td>
          <td>{{ fault.Part }}</td>
          <td>{{ fault.Notes }}</td>
          <td id="JobFaultStatus">{{ fault.JobFaultStatus }}</td>
          <td>
            <input
              type="checkbox"
              id="Check{{ fault.JobFaultID }}"
              (click)="UpdateStatus(fault.JobFaultID, fault)"
              title="Check this box if the job is completed"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- </form> -->
  </div>
</body>

<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">The Job was completed successfully.</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="goBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<script></script>
