<body>
  <form [formGroup]="BicycleForm" (ngSubmit)="onFormSubmit(BicycleForm)">
    <div class="bicycle-box">
      <h1>Bicycle</h1>

      <div class="bicycle-text" readonly>
        <h6>Bicycle Code:</h6>
        <input
          type="text"
          placeholder="BicyleCode"
          formControlName="BicyleCode"
        />

        <h6>Bicycle Brand:</h6>
        <select
          class="form-control"
          placeholder="BicycleBrandName"
          formControlName="BicycleBrandID"
        >
          <option
            *ngFor="let bicycle of BicycleBrandList"
            [value]="bicycle.BicycleBrandID"
          >
            {{ bicycle.BicycleBrandName }}
          </option>
        </select>

        <h6>Bicycle Status:</h6>
        <select
          class="form-control"
          placeholder="BicycleStatus"
          formControlName="BicycleStatusID"
        >
          <option
            *ngFor="let bicyclestatus of BicycleStatus"
            [value]="bicyclestatus.BicycleStatusID"
          >
            {{ bicyclestatus.BicycleStatus }}
          </option>
        </select>

        <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter a Bicycle Make
        </div> -->


<!-- 
        <h6>Bicycle Status</h6>
        <select *ngFor = "let bicyclestatus of BicycleStatus" [value] = "bicyclestatus.BicycleStatusID">
          <option>{{ bicyclestatus.BicycleStatus }}</option>
         
        </select> -->
        <br />
        <h6>Date Added:</h6>
        <input type="date" formControlName="DateAdded" />

        <ngx-qrcode
          id="qrcode"
          [elementType]="elementType"
          [value]="value"
        ></ngx-qrcode>
        <a [href]="href" (click)="downloadQRcode()" download>Download QR Code</a>
        <br />
        <!-- <div class="alert alert-warning" role="alert">
        <strong>Error!</strong> There was an issue submtting this form. Please try again. 
        </div> -->


        <br>
        <button type="submit">Update</button>
        <button (click)="DeleteBicycle(BicycleID)" type="button">Delete</button>
      </div>
      <!-- <div>
        <ngx-qrcode
          id="qrcode"
          [elementType]="elementType"
          [value]="value"
        ></ngx-qrcode>
        <button (click) = "downloadQRcode()" *ngIf="value"> Download QR Code </button>
        <a [href]="href" (click)="downloadQRcode()" download>Download Image</a>
      </div> -->
    </div>
</form>
</body>

<!-- <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Are you sure you want to update this Bicycle?
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Bicycle has been succesfully updated.
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Ok</button>
         <button type="button" class="btncancel" data-dismiss="modal">Cancel</button> 
      </div>
    </div>
  </div>
</div> -->
