<body>
  <div class="bicycle-box">
    <h1>Fault Type</h1>

    <div id="UploadArea">
      <img [src]="imageUrl" style="width: 25%; height: 25%" />
      <br />
      <label> Please Upload a Part Fault Image </label>
      <br />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <!--<img src="assets/images/723.jpg" />-->
    <form #PartFaultForm="ngForm" (ngsubmit)=onFormSubmit()>
      <!-- (ngSubmit)="onFormSubmit(MaintenanceTaskService.PartFaultForm)" -->

      <div class="bicycle-text" id="ObjArea">
        <h6>Fault Type:</h6>
        <input
          required
          type="text"
          name="FaultType1"
          #FaultType="ngModel"
          [(ngModel)]="faultservice.FaultTypeForm.FaultType1"
        />

        <br />
        <span
          class="alert alert-primary"
          *ngIf="FaultType.invalid && FaultType.touched"
        >
          Please enter a Fault Type
        </span>
        <br />
        <br />

        <h6>Part Needed:</h6>
        <select
          name="Part"
          required
          #Part="ngModel"
          [(ngModel)]="faultservice.FaultTypeForm.PartNeeded"
        >
          <option *ngFor="let Part of Parts" [value]="Part.PartName">
            {{ Part.PartName }}
          </option>
        </select>

        <br />
        <br />

        <span class="alert alert-primary" *ngIf="Part.invalid && Part.touched">
          Please Select a Part Needed
        </span>

        <br />
        <br />

        <span class="alert alert-primary" *ngIf="PartFaultForm.invalid">
          Please ensure all fields are filled(remember a picture!)
        </span>

        <br />

        <!-- <button id="UploadBtn" (click)="uploadFile()">Upload Image</button> -->

        <button id="UploadBtn" (click)="uploadFile()">Upload Image</button>

        <!-- Button trigger modal -->
        <button
          id="CreateObj"
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          [disabled]="!theFile || Image.value == '' || PartFaultForm.invalid"
        >
          Create
        </button>

        <!-- Button trigger modal -->
        <button type="button" (click)="GoBackToList()">Cancel</button>
      </div>
    </form>
  </div>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to Create this Fault Type?
      </div>
      <!-- (click)="SaveMaintenanceTask()" type="button" below-->
      <div class="modal-footer buttonDiv">
        <button
          type="submit"
          class="btn btn-primary create"
          (click)="onFormSubmit()"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Fault Type was successfully Created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
