  <body>
    <div class="row no-gutters mission">
      <div class="col-10 col-lg-5 mission-text">
        <h1 class="text-center text-lg-left text-responsive">#BIKES4ERP</h1>
        <h2 class="text-center text-lg-left text-responsive">VVS</h2>
  
        <div class="underline"></div>
  
        <p>
          The system will allow for ERP to
          better manage the project by
          providing an online interface to
          interact with the project data and
          manage the assigning and
          maintenance of the bicycles. It also
          provides ERP with a more concrete
          method of tracking the students
          progress through RFID technology.
        </p>
      </div>
  
      <div class="col-10 col-lg-5 image">
        <img src="assets/images/image1111.jpeg" />
      
      </div>
    </div>

    <div class="row no-gutters mission">
      <div class="col-10 col-lg-5 mission-text">
        <h1 class="text-center text-lg-left text-responsive">#ERP4BIKES</h1>
        <h2 class="text-center text-lg-left text-responsive">VVS Project</h2>
  
        <div class="underline"></div>
  
        <p>
          #Bikes4ERP is a ERP project that
          distribute bicycles to students in
          remote rural areas. So that students
          who live far away are able to attend
          classes more frequently allowing
          them to focus on their education.
          Then after a 2 year period if they
          have performed well academically
          the student is allowed to keep the
          bicycle forever.
          
        </p>
      </div>
  
      <div class="col-10 col-lg-5 image">
        <img src="assets/images/image111.jpeg" />
      
      </div>
    </div>
    <!-- MISSION -->
  
    <div class="row no-gutters mission">
      <div class="col-10 col-lg-5 mission-text">
        <h1 class="text-center text-lg-left text-responsive">#ERP4BIKES</h1>
        <h2 class="text-center text-lg-left text-responsive">EPI-USE Background</h2>
  
        <div class="underline"></div>
  
        <p>
          EPI-USE was founded in 1998 and is a global organization with local presence in over 32 countries and
          are best known as the world’s largest and most experienced independent SAP HR/Payroll specialist
          responsible for designing, building and implementing the Cloud-based, hybrid and on premises
          HR/Payroll systems for large, complex multinational corporations. Their focus is in Human Capital
          Management (HCM) surrounding Human Resources, Talent as well as Payroll. They have played an
          instrumental role in creating Payroll technology solutions and are the leader in deploying SAP’s S/4
          HANA Finance applications. In addition to their involvement with SAP they have also created tightly
          integrated payroll developments for more than 35 additional countries.
          EPI-USE is part of groupelephant.com (ERP) which employs more than 2,700 people across 32
          countries, with over 20 years of experience in community relations, poverty alleviation, and impact
          investment in infrastructure. ERP comprises mostly of employee-owned group of companies, NGO’s
          and impact investment organizations – their primary strategic imperative being ‘Beyond Corporate
          Purpose’ in day-to-day activities.
          EPI-USE donates 1% of their revenue to ERP with focus on the protection and preservation of
          Elephants, Rhinos and alleviating poverty among rural people. 
        </p>
      </div>
  
      <div class="col-10 col-lg-5 image">
        <img src="assets/images/image11.jpeg" />
        <img src="assets/images/image12.jpeg" />
      </div>
    </div>
    
  
    <!-- CARDS -->
    <div class="card-deck">
      <!-- <div class="card">
        <div class="card-body">
          <h5 class="card-title">Link to External page</h5>
          <div class="underline"></div>
          <p class="card-text">
Please Click <a href="https://vvsbikes4erp.azurewebsites.net">here</a>  to go to the external information page
          </p>
        </div>
      </div> -->
      <div class="card">
        <img src="assets/images/image9.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">ERP Background</h5>
          <div class="underline"></div>
          <p class="card-text">
            ERP is a non-profit organization with over 20 years of experience in community relations, poverty
            alleviation, and impact investment in infrastructure. The main focus of ERP is the protection of
            Elephants and Rhinos, and poverty alleviation among rural People within South Africa.
            Groupelephant.com, ERP’s parent company donates 1% of its revenue to cover all of ERP’s operational
            expenses. 
          </p>

        </div>
      </div>
      <div class="card">
        <img src="assets/images/vvs1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Virtual Visionaries</h5>
          <div class="underline"></div>
          <p class="card-text">
Virtual Visionaries consists of 5 key Members. Each member provided valuable insight and hard work. Which got VVS to where it is today. To find Out more please visit our Wix Website.
<a href="https://vvinf370.wixsite.com/website">Wix Website</a>         
</p>
  
          <!-- social media -->

        </div>
      </div>
    </div>
  </body>
