<header>
  <div>
    <img src="/assets/images/maxresdefault.jpg" />
  </div>
</header>

<body>
  <!-- MISSION -->

  

  <div class="row no-gutters mission">
    <div class="col-10 col-lg-5 mission-text">
      <h1 class="text-center text-lg-left text-responsive">#BIKES4ERP</h1>
      <h2 class="text-center text-lg-left text-responsive">Our Mission</h2>

      <div class="underline"></div>

      <p>
        By distributing bicycles to students, the #BIKES4ERP project bridges the
        gap between having a dream and being able to achieve it.
      </p>
    </div>

    <div class="col-10 col-lg-5 image">
      <img src="assets/images/image2.jpeg" />
    </div>
  </div>

  <!-- CARDS -->
  <div class="card-deck">
    <div class="card">
      <img src="assets/images/bikeRider.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <div class="underline"></div>
        <p class="card-text">
          Under the motto, “mobilize me and I will change my world”, students
          are empowered to obtain an education by entering into a “STUDY TO OWN”
          contract, whereby the student owns the bike after using it to attend
          school for 2 years.
          <!-- <br />
          <br />
          If you want to find out more you can click <a href="">here</a> or you
          can follow our social media for live updates. -->
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/erp.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Contact ERP</h5>
        <div class="underline"></div>
        <p class="card-text">
          If you have any questions and would like to contact us here are our
          details:
        </p>
        <p class="card-text">Tel:(415) 370-3713</p>
        <p class="card-text">Email: Info@groupelephant.com</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/3404638.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Social Media</h5>
        <div class="underline"></div>
        <p class="card-text">
          Come support us on social media and stay up to date with our latest
          news and projects, dont forget to leave a like!
        </p>

        <!-- social media -->
        <div class="social-media-icon">
          <a href="https://www.facebook.com/erp.redux/" target="#blank"><img src="assets/images/social-media/facebook.svg" /></a>
          <a href="https://twitter.com/erp_redux" target="#blank"><img src="assets/images/social-media/twitter.svg"/></a>
         
        </div>
      </div>
    </div>
  </div>
</body>
