<body>
  <form [formGroup]="DocumentForm" (ngSubmit)="onFormSubmit(DocumentForm)">

    <div class="bicycle-box">
      <h1>Document</h1>
  
      <div id="UploadArea">
        <label> Please Select the document file </label>
        <br />
        <!-- <span>{{file ? file.name : 'or drag and drop file here' }}</span> -->

        <input [writeFile]="true" type="file" formControlName="image" #Image (change)="onFileChange($event)"/>

        <!-- <input type="file" name="docUploaded" [progress]="progress" #DocumentUploaded="ngModel" [(ngModel)]="docUploaded" (change)="onFileChange($event)"/> -->
        <br />
      </div>

      <!-- <div *ngIf="DocumentUploaded.touched && !DocumentUploaded.valid" class="text-danger text-center">
        <div *ngIf="DocumentUploaded.errors.required">This field is required, please enter a value</div>
        <div *ngIf="DocumentUploaded.errors.filetype">Incorrect filetype. Please upload a PDF</div>
      </div> -->

      <div class="bicycle-text">
        <!-- <form [formGroup]="DocumentForm" (ngSubmit)="onFormSubmit(DocumentForm)"> -->
          <h6>Document Name:</h6>
          <input type="text" #DocumentName formControlName="DocumentName" />
  
          <!--Input Validation-->
          <div class="alert alert-primary" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Please enter the Document name
          </div>

          <!-- <h6>Document Path:</h6>
          <input type="text" #DocumentPath formControlName="DocumentPath" /> -->

          <!--Error Message-->
          <div class="alert alert-warning" role="alert" style="display: none">
            <strong>Error!</strong> There was an issue creating a new Document.
            Please try again.
          </div>
          <!-- <button class="thebutton" type="submit" data-toggle="modal" data-target="#create"> Create </button> -->
  
          <br />

        <span class="alert alert-primary" *ngIf="DocumentForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />

          <!-- <button [disabled]="!DocumentForm.valid" (click)="validateFile()" data-toggle="modal" data-target="#create" class="thebutton">Create</button> -->
          <button [disabled]="!DocumentForm.valid" data-toggle="modal" data-target="#create" class="thebutton">Create</button>

          <button class="thebutton" (click)="GoToList()">Cancel</button>
        <!-- </form> -->
      </div>
    </div>
  </form>
  </body>
  <div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to upload this Document?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-toggle="modal"
          data-target="#download"
          data-dismiss="modal"
          (click)="uploadFile()"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
      </div>
      <div class="modal-body">
        Document has been uploaded successfully.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok 
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to create a new Route?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#succmodal"
          data-dismiss="modal"
          (click)="uploadFile()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary btncancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div> -->

