<body>
  <div class="bicyclePart">
    <h1>Bicycle Management</h1>

    <div class="searchDiv">
      <img src="assets/images/plus.svg" (click)="CreateBicycle()"  title="Click to create a new bicycle"/>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Bicycle"
        aria-label="Search"
        (keyup)="SearchBicycles($event)"
      />
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Bicycle Code</th>
          <th scope="col">Bicycle Make</th>
          <th scope="col">Bicycle Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bicycle of BicycleList">
          <td scope="row">{{ bicycle.BicyleCode }}</td>
          <td>{{ bicycle.BicycleBrandName }}</td>
          <td>{{ bicycle.BicycleStatus }}</td>
          <td>
            <img
              (click)="ViewBicycle(bicycle.BicycleID)"
              src="assets/images/edit.svg"
              title="Click to view this bicycle's details"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
