<body >

    <div class="blueprint-box"  >
        
      <h2>Please select the section of the bicycle <br> where your fault appears</h2>
      
      <br>

      <div>
        <img src="assets/images/bicycle-blueprint.jpg"  style="margin: auto;" usemap="#workmap">
<map name="workmap">
  <area shape="circle" coords="266,220,36" alt="Gears" routerLink="/sectionblueprint" (click) = "getsectionpart(1)" title="Gears">
  <area shape="circle" coords="405,220,95" alt="Back Wheel/" routerLink="/sectionblueprint" (click) = "getsectionpart(2)" title="Back Wheel">
  <area shape="circle" coords="95,225,95" alt="Front Wheel" routerLink="/sectionblueprint" (click) = "getsectionpart(3)" title="Front Wheel">
  <area shape="rect" coords="370,135,115,60" alt="Body" routerLink="/sectionblueprint" (click) = "getsectionpart(4)" title="Body">
  <area shape="rect" coords="167,53,115,0" alt="Handlebars" routerLink="/sectionblueprint" (click) = "getsectionpart(5)" title="Handlebars">
  <area shape="rect" coords="380,60,307,0" alt="Seat" routerLink="/sectionblueprint" (click) = "getsectionpart(6)" title="Seat">

  <!-- <area shape="circle" coords="266,220,36" alt="Gears" routerLink="/sectionblueprint" (click) = "getsectionpart(4)">
  <area shape="circle" coords="405,220,95" alt="Back Wheel/" routerLink="/sectionblueprint" (click) = "getsectionpart(3)">
  <area shape="circle" coords="95,225,95" alt="Front Wheel" routerLink="/sectionblueprint" (click) = "getsectionpart(2)">
  <area shape="rect" coords="370,135,115,60" alt="Body" routerLink="/sectionblueprint" (click) = "getsectionpart(5)">
  <area shape="rect" coords="167,53,115,0" alt="Handlebars" routerLink="/sectionblueprint" (click) = "getsectionpart(19)">
  <area shape="rect" coords="380,60,307,0" alt="Seat" routerLink="/sectionblueprint" (click) = "getsectionpart(39)"> -->
</map>
        <br> 
        <br>
        <br>
       
        <button type="button" data-toggle="modal" data-target="#unknown" (click)="buildForm()" title="Click on me if you're not sure whats wrong with your bike">Unknown</button>
      </div>

    </div>

    <br>

</body>

<div class="modal fade" id="unknown" tabindex="-1" role="dialog" aria-labelledby="unknown" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="unknown">Unknown</h5>
        <button type="button" class="close" data-dismiss="modal" id="disappearpliz" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="unknownDetails" (ngSubmit)="reportUnknown(unknownDetails)">

        <div class="modal-body">
          <h3>Please enter any additional information.</h3>
          <textarea id="notes" name="notes" rows="5" cols="50" #notes formControlName="notes" ></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" class="thebutton">Submit</button>
        </div>
      
      </form>

    </div>
  </div>
</div>

