<body>
  <div class="bicyclePart">
    <h1>Tag Assignment</h1>

    <div class="searchDiv">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (keyup)="SearchTags($event)"

      />
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Tag Serial Number</th>
          <th scope="col">Bicycle Code</th>

          <th scope="col">Tag Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let TagAssignment of TagAssignmentList">
          <td scope="row">{{ TagAssignment.TagSerialNumber }}</td>

          <td>{{ TagAssignment.BicycleCode }}</td>
          <td>{{ TagAssignment.TagStatus }}</td>

          <td *ngIf="TagAssignment.TagStatus == 'Assigned'">
            <button
              class="unassignbutton"
              (click)="UnassignTag(TagAssignment.BicycleCode)"
              title="Click here to Unassign the tag from its bikes"
            >
              Unassign
            </button>
          </td>
          <td *ngIf="TagAssignment.TagStatus == 'Available'">
            <button
              class="assignbutton"
              (click)="AssignTag(TagAssignment.TagSerialNumber)"
              title="Click here to Assign a tag to a bike"
            >
              Assign
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<div
  class="modal fade"
  id="UnassignModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">The Tag has been succesfully unassigned .</div>
      <div class="modal-footer">
        <button type="button" class="thebutton" data-dismiss="modal">Ok</button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>