<body>
  <div class="bicycle-box">
    <h1>User Type</h1>

    <!--<img src="assets/images/723.jpg" />-->
    <form
      #UserTypeForm="ngForm"
      (ngSubmit)="onFormSubmit(UserTypeService.UserTypeForm)"
    >
      <div class="bicycle-text">
        <h6>Type:</h6>
        <input
          required
          type="text"
          name="UserType"
          #UserType="ngModel"
          [(ngModel)]="UserTypeService.UserTypeForm.UserType1"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="UserType.invalid && UserType.touched"
        >
          Please enter a User Type
        </span>
        <br />
        <br />

        <h6>Permissions:</h6>
        <select
          required
          name="Permissions"
          #Permissions="ngModel"
          [(ngModel)]="UserTypeService.UserTypeForm.UserPermissions"
        >
          <option>High</option>
          <option>Moderate</option>
          <option>Low</option>
        </select>
        <br />
        <br />

        <span
          class="alert alert-primary"
          *ngIf="Permissions.invalid && Permissions.touched"
        >
          Please select a Permissions level
        </span>
        <br />
        <br />

        <!-- Button trigger modal -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          [disabled]="UserTypeForm.invalid"
        >
          Create
        </button>

        <!-- Button trigger modal -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#Success"
          (click)="GoBackToList()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to create a new User Type?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
          (click)="SaveUserType()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">User Type was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
