<body>
    <div class="Antenna">
      <h1>Business Rule Management</h1>
  
      <div class="searchDiv">
        <!-- <a routerLink="/createbusinessrule"> <img src="assets/images/plus.svg" /> </a> -->
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for a business rule"
          aria-label="Search"
          (keyup)="SearchUsers($event)"
        />

      </div>

      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Business Rule</th>
            <th scope="col">Value</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let BusinessRule of BusinessRuleArray">
            <td>{{ BusinessRule.BusinessRule1 }}</td>
            <td>{{ BusinessRule.Value }}</td>
            <td>
              <img
                (click)="EditBusinessRule(BusinessRule.BusinessRuleID)"
                src="assets/images/edit.svg"
                title="Click here to view this business rule's details"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>