<body>
  <div class="bicyclePart">
    <h1>User Type</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="CreateUserType()" title="Click here to create a new User Type"/></a>
      <input
        class="form-control mr-sm-2 search"
        type="search"
        placeholder="Search for a User Type"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />

      <!-- <button class="btn btn-outline-success my-2 my-sm-0 searchBtn" type="submit">
        Search
      </button> -->
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Permissions</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userType of UserTypeList">
          <td>{{ userType.UserType }}</td>
          <td>{{ userType.UserPermissions }}</td>
          <td>
            <img
              src="assets/images/edit.svg"
              (click)="ViewUserType(userType.ID)"
              title="Click here to view this User's Details"
            />
          </td>
          <!-- (click)="ViewUserType(user.ID)" -->
        </tr>
      </tbody>
    </table>
  </div>
</body>
