.scan {
align-items: center;
    overflow: auto;
    background-color: rgba(207, 209, 211, 0.1);
    height: fit-content;
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    margin-left: auto;
    margin-right: auto;
position: relative;
  }
  
  .qr-box {
    
    height: fit-content;
   width: fit-content;
   /* margin: 100px 0 0 370px; */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 2px 2px 10px rgba(207, 209, 211, 0.1);
  }

  button {
    color: white;
    display: inline;
    width: 180px;
    height: 50px;
    background-color: #001844;
    border: none;
    border-radius: 5px;
    transition: all ease 300ms;
    margin: 20px 40px 0 0;
  }
  
  button:hover {
    transform: scale(1.02);
    transition: all ease 300ms;
  }
  
    .btncancel {
      color: white;
      display: inline;
      width: 160px;
      height: 45px;
      background-color: #cd1543;
      border: none;
      border-radius: 5px;
      transition: all ease 300ms;
      margin: 20px 40px 0 0;
    }
    .thebutton {
      color: white;
      display: inline;
      width: 160px;
      height: 45px;
      background-color: #001844;
      border: none;
      border-radius: 5px;
      transition: all ease 300ms;
      margin: 20px 40px 0 0;
    }
  
    .cancel {
      color: white;
      display: inline;
      width: 160px;
      height: 45px;
      background-color: #cd1543;
      border: none;
      border-radius: 5px;
      transition: all ease 300ms;
      margin: 20px 40px 0 0;
    }
    .Scanner {
      width: 60%;
      height: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
     
    }


     
    