body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  height: auto;
  min-height: 100%;
  padding-top: 1.5cm;
  padding-bottom: 4cm;
}

button {
  color: white;
  display: inline;
  width: 180px;
  height: 50px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

  .btncancel {
    color: white;
    display: inline;
    width: 160px;
    height: 45px;
    background-color: #cd1543;
    border: none;
    border-radius: 5px;
    transition: all ease 300ms;
    margin: 20px 40px 0 0;
  }
  .thebutton {
    color: white;
    display: inline;
    width: 160px;
    height: 45px;
    background-color: #001844;
    border: none;
    border-radius: 5px;
    transition: all ease 300ms;
    margin: 20px 40px 0 0;
  }

  .cancel {
    color: white;
    display: inline;
    width: 160px;
    height: 45px;
    background-color: #cd1543;
    border: none;
    border-radius: 5px;
    transition: all ease 300ms;
    margin: 20px 40px 0 0;
  }
  

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}

.faultList {
  margin-top: 80px;
}
.faultList h1 {
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

thead {
  background-color: #001844;
  color: white;
  text-align: center;
}

table td {
  text-align: center;
  background-color: rgba(134, 158, 195, 0.2);
  border-color: rgba(0, 24, 68, 0.2);
}

input {
  padding-top: 1px;
  width: 300px;
  display: inline;
}

.searchDiv {
  float: right;
  padding-bottom: 10px;
}

img {
  width: 30px;
  transition: all ease 300ms;
}
img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all ease 300ms;
}
a {
  margin-right: 10px;
}
