+
<body>
  <div class="faultList">
    <h1>Report Job - Fault List</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="AddJobFault()" /></a>
      <button
        type="button"
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="ReportJob()"
        data-toggle="modal"
        data-target="#Success"
        title="Click me to report a job"
      >
        Report Job
      </button>
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Section</th>
          <th scope="col">Part</th>
          <th scope="col">Fault Details</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <!-- <tr>
          <td>Back Wheel</td>
          <td>Back Rim</td>
          <td>Dented Rim</td>
          <td><img src="assets/images/remove-icon.png" /></td>
        </tr> -->
        <tr *ngFor="let fault of FaultList">
          <td>{{ fault.SectionName }}</td>
          <td>{{ fault.PartName }}</td>
          <td>{{ fault.FaultTypeName }}</td>
          <td>
            <img
              src="assets/images/remove-icon.png"
              (click)="RemoveFault(fault.FaultID)"
              title="Click me to remove this fault"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">The Faults have been reported successfully.</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)= "goHome()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
