<body>
  <div class="bicyclePart">
    <h1>Bicycle History Report</h1>

    <br />
    <br />

    <div>
      <button
        (click)="exportexcel()"
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
        [disabled]="startDate.invalid || endDate.invalid"
        data-toggle="modal"
        data-target="#download"
      >
        Download in Excel
      </button>

      <!-- <button
        (click)="downloadPDF()"
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
        data-toggle="modal"
        data-target="#download"
      >
        Download in PDF
      </button> -->

      <button
        (click)="GenerateReport()"
        id="generaterTing"
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
        [disabled]="startDate.invalid || endDate.invalid"
      >
        Generate Report
      </button>

      <br />
      <br />

      <h6 style="font-size: medium">Choose School:</h6>
      <!-- <select id="Schooly" formControlName="SchoolID" [(ngModel)]="selectedSchool"> -->
      <select
        required
        id="Schooly"
        [(ngModel)]="selectedSchool"
        #startDate="ngModel"
      >
        <option *ngFor="let school of Schools" [value]="school.SchoolID">
          {{ school.SchoolName }}
        </option>
      </select>

      <br />

      <span
        class="alert alert-primary"
        *ngIf="startDate.invalid && startDate.touched"
      >
        Please select a school
      </span>
      <br />
      <br />

      <h6 style="font-size: medium">Choose Job Type:</h6>
      <!-- <select id="Joby" formControlName="JobTypeID" [(ngModel)]="selectedJobType"> -->
      <select
        required
        id="Joby"
        [(ngModel)]="selectedJobType"
        #endDate="ngModel"
      >
        <option *ngFor="let jobType of JobTypes" [value]="jobType.JobTypeID">
          {{ jobType.JobType }}
        </option>
      </select>
      <br />
      <br />
      <span
        class="alert alert-primary"
        *ngIf="endDate.invalid && endDate.touched"
      >
        Please select a Job Type:
      </span>
    </div>

    <div>
      <table class="table" id="table">
        <div *ngFor="let bike of TableData; let i = index">
          <br>
          <thead class="thead" id="table{{ i }}">
            <tr>
              <td colspan="1" id="ControlBreakHead"> Bicycle Code: {{ bike.BicycleCode }} | Status: {{ bike.BicycleStatus }} </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <!-- <td id="ControlBreakHead"> Selected School : {{ selectedSchool }} | Selected Job Type : {{ selectedJobType }}</td> -->
            </tr>
            <tr>
              <th scope="col">Job Code</th>
              <th scope="col">Specific Reported Job ID</th>
              <th scope="col">Student Name</th>
              <th scope="col">Date Completed</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of bike.Jobs">
              <td id="someshade" scope="row">{{ job.JOBcode }}</td>
              <td>{{ job.specificJobID }}</td>
              <td>{{ job.StudentName }}</td>
              <td>{{ job.DateCompleted }}</td>
            </tr>
            <tr>
                <td id="blankem"> </td>
                <td id="blankem"> </td>
                <td id="blankem"> </td>
                <td id="ControlBreakFoot"> Total Jobs: {{ bike.TotalJobs }} | Date Added: {{ bike.DateAdded }}</td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>

  </div>

  <h2>Grand Total Jobs: {{ totalage }}</h2>
</body>

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bicycle History Report has been downloaded successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>