<body>
    <div class="Antenna">
      <h1>Bicycle Brand Management</h1>
  
      <div class="searchDiv">

        <a routerLink="/createbicyclebrand"> <img src="assets/images/plus.svg"  title="Click to create a bicycle brand"/> </a>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="SearchAudits($event)"
        />
        <!-- <button
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
        >
          Search
        </button> -->
      </div>

      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Bicycle Brand</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let BicycleBrand of BicycleBrandArray">
            <td>{{ BicycleBrand.BicycleBrandName }}</td>
            <td>
              <img
                (click)="EditBicycleBrand(BicycleBrand.BicycleBrandID)"
                src="assets/images/edit.svg"
                title="Click here to view this bicycle brand's details"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>