<body>
  <div class="bicyclePart">
    <h1>School Management</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="CreateSchool()" title="Click here to create a new School"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a School"
        aria-label="Search"
        (keyup)="SearchSchools($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">School Name</th>
          <th scope="col">Village</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of SchoolList">
          <td>{{ school.SchoolName }}</td>
          <td>{{ school.Village }}</td>
          <td>
            <img
              (click)="ViewSchool(school.SchoolID)"
              src="assets/images/edit.svg"
              title="Click here to view this Schools Details"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
