<body>
  <div class="bicycle-box">
    <h1>Bicycle Part</h1>

    <div id="UploadArea">
      <img [src]="transformer()" style="width: 25%; height: 25%" />
      <br />
      <label> Choose a Bicycle Part Image to update </label>
      <br />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <div class="bicycle-text">
      <form [formGroup]="PartForm" (ngSubmit)="onFormSubmit(PartForm)">
        <div id="ObjArea">
          <h6>Part Name:</h6>
          <input
            required
            type="text"
            name="PartName"
            formControlName="PartName"
          />

          <h6>Part Description:</h6>
          <input
            required
            type="text"
            name="PartDescription"
            formControlName="PartDescription"
          />

          <h6>Bicycle Section:</h6>
          <select required formControlName="SectionID">
            <option
              *ngFor="let section of Sections"
              [value]="section.SectionID"
            >
              {{ section.SectionName }}
            </option>
          </select>

          <br>
          <br />

          <h6>Part Type:</h6>
          <select required formControlName="PartTypeID">
            <option
              *ngFor="let partType of PartTypes"
              [value]="partType.PartTypeID"
            >
              {{ partType.PartType }}
            </option>
          </select>
        </div>

        <br />
        <br />

        <!-- <span class="alert alert-primary" *ngIf="PartForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br /> -->

        <!-- <button id="UploadBtn" (click)="uploadFile()"> Upload Image </button> -->
        <!-- <button id="CreateObj" type="submit" [disabled]="PartForm.invalid"> Update </button> -->
        <!-- [disabled]="!PartForm.valid" -->
        <button id="CreateObj" type="submit" data-dismiss="modal"  data-toggle="modal" data-target="#updsucc"> Update </button>
        <button data-toggle="modal" data-target="#delete">Delete</button>

        <!-- <button type="submit" data-toggle="modal" data-target="#update">Update</button>
        <button type="submit" >Delete</button> -->
      </form>
    </div>
  </div>
</body>

<!-- <button type="submit" data-toggle="modal" data-target="#updsucc">
  Update Success
</button>
<button type="submit" data-toggle="modal" data-target="#delsucc">
  Delete Success
</button> -->

<!-- confirmation -->
<!-- <div
  class="modal fade"
  id="update"
  tabindex="-1"
  role="dialog"
  aria-labelledby="update"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to update this Bicycle Part?
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton">Yes</button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div> -->

<!-- confirmation -->

<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Bicycle Part?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="DeletePart(ID)"
          data-toggle="modal"
          data-target="#delsucc"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESSES update-->
<div
  class="modal fade"
  id="updsucc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updsucc"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updsucc">Success</h5>
      </div>
      <div class="modal-body">Bicycle Part has been updated successfully.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- success delete -->
<div
  class="modal fade"
  id="delsucc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delsucc"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delsucc">Success</h5>
      </div>
      <div class="modal-body">Bicycle Part has been deleted successfully.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
