<body>
    <div class="Antenna">
      <h1>Antenna Management</h1>
  
      <div class="searchDiv">

        <a><img src="assets/images/plus.svg" (click) = CreateAntenna() title="Click here to create an antenna"/></a>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for an Antenna"
          aria-label="Search"
          (keyup) = "SearchAntenna($event)"
        />

      </div>
      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Antenna Port</th>
            <th scope="col">Suburb</th>
            <th scope="col">Antenna Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let antenna of AntennaList">
            <td scope="row">{{antenna.AntennaAddress}}</td>
            <td>{{antenna.SuburbName}}</td>
            <td>{{antenna.AntennaStatu}}</td>
            <td><img (click)="ViewAntenna(antenna.AntennaID)"src="assets/images/edit.svg" title="Click here to view this antenna"/></td>
          </tr>

        </tbody>
      </table>
    </div>
  </body>