<body>
  <div class="maintenancetask">
    <h1>Maintenance Task</h1>

    <div class="searchDiv">
      <a
        ><img src="assets/images/plus.svg" (click)="CreateMaintenanceTask()"
      
      
        title="Click to create a new maintenance task"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Maintenance task"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Maintenance Task</th>
          <th scope="col">Maintenance Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenancetask of MaintenanceTaskList">
          <td>{{ maintenancetask.MaintenanceTask }}</td>
          <td>{{ maintenancetask.MaintenanceTaskType }}</td>
          <td>
            <img
              (click)="ViewMaintenanceTask(maintenancetask.ID)"
              src="assets/images/edit.svg"
              title="Click here to view this maintenance task's details"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
