<body>
  <div class="bicycle-box">
    <h1>Bicycle</h1>

    <form
      #BicycleForm="ngForm"
      (ngSubmit)="onFormSubmit(bicycleService.BicycleForm)"
    >
      <div class="bicycle-text">
        <h6>Bicycle Code:</h6>
        <input
          type="text"
          required
          name="BicyleCode"
          #BicycleCode="ngModel"
          [(ngModel)]="bicycleService.BicycleForm.BicyleCode"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="BicycleCode.invalid && BicycleCode.touched"
        >
          Please enter a Bicycle Code.
        </span>
        <br />
        <br />

        <h6>Bicycle Brand:</h6>
        <select
          name="BicycleBrandName"
          required
          #BicycleBrand="ngModel"
          [(ngModel)]="bicycleService.BicycleForm.BicycleBrandID"
        >
          <option
            *ngFor="let bicycle of BicycleBrands"
            [value]="bicycle.BicycleBrandID"
          >
            {{ bicycle.BicycleBrandName }}
          </option>
        </select>
        <br />
        <br />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="BicycleBrand.pristine && BicycleBrand.touched"
        >
          PLease select a Bicycle Brand.
        </span>
        <br />
        <br />
        <!-- <div class="alert alert-primary" >
     <div class="bicycle-text">
      <h6>Bicycle Code:</h6>
      <input type="text" name ="BicyleCode" [(ngModel)] = bicycleService.BicycleForm.BicyleCode />

      <h6>Bicycle Brand:</h6>
      <select name ="BicycleBrandName" [(ngModel)] = bicycleService.BicycleForm.BicycleBrandName>
        <option *ngFor = "let bicycle of BicycleList" [value] = "bicycle.BicycleBrandID">
          {{bicycle.BicycleBrandName}}
        </option>
      </select>
       <div class="alert alert-primary" >
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Please enter a Bicycle Make
      </div> -->

        <!-- <br />
  
       <br />
      <div class="alert alert-warning" role="alert">
        <strong>Error!</strong> There was an issue creating the Bicycle. Please try again. 
      </div> -->

        <button
          class="thebutton"
         
          type="submit"
          [disabled]="BicycleForm.invalid"
        >
          Create
        </button>
        <button class="thebutton" (click) = "GoBack()"> Cancel</button>
      </div>
    </form>
    <!--QR code-->
    <div>
      <!-- <ngx-qrcode
        id="qrcode"
        [elementType]="elementType"
        [value]="value"
      ></ngx-qrcode> -->
      <!-- <button (click) = "downloadQRcode()" *ngIf="value"> Download QR Code </button> -->
      <!-- <a [href]="href" *ngIf="value" (click)="downloadQRcode()" download
        >Download Image</a
      > -->
    </div>
  </div>
</body>

<div
  class="modal fade"
  id="CreateBicycle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">{{ modalHeading }}</h5>

      </div>
      <div class="modal-body">
        {{ modalBody }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="ShowQrCode()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ViewQRCode"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="View">{{ 'QR Code' }}</h5>

      </div>
      <div class="QRcode">
        <ngx-qrcode
        class = "QRcode"
          id="qrcode"
          [elementType]="elementType"
          [value]="value"
        ></ngx-qrcode>
        <a [href]="href" *ngIf="value" (click)="downloadQRcode()" download
          >Download QR Code</a
        > 
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="GoBacktoCreateBicycle()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>