<meta  content="width=device-width, initial-scale=1.0">
<body>
  <div class="bicyclePart">
    <h1>Route Management</h1>

    <div class="searchDiv">
      <a ><img src="assets/images/plus.svg" (click) = CreateRoute() title="Click here to add a new route"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a route"
        aria-label="Search"
        (keyup)="SearchRoutes($event)"
      />
  
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col"> RouteID</th>
          <th scope="col">School</th>
          <th scope="col">Position 1 </th>
          <th scope="col">Position 2 </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of RouteList">
          <td>{{route.RouteID}}</td>
          <td>{{route.SchoolName}}</td>
          <td>{{route.Postion1}}</td>
          <td>{{route.Postion2}}</td>
          <td><img (click)="ViewRoute(route.RouteID)" src="assets/images/edit.svg" title="Click here to view this route's details"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


<!-- <body>
  <div class="bicyclePart">
    <h1>Route</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" /></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
      >
        Search
      </button>
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Route ID</th>
          <th scope="col">School Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">89312</td>

          <td>John's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">22132</td>

          <td>John's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">12312</td>

          <td>John's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">42425</td>

          <td>Ann's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>

        <tr>
          <td scope="row">56323</td>

          <td>Ann's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">63241</td>

          <td>John's School</td>

          <td><img src="assets/images/edit.svg" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</body> -->
