<body>
  <div class="bicycle-box">
    <h1>School</h1>
    <form
      #schoolForm="ngForm"
      (ngSubmit)="onFormSubmit(schoolService.SchoolForm)"
    >
      <div class="bicycle-text">
        <h6>School Name:</h6>
        <input
          required
          type="text"
          name="SchoolName"
          #Name="ngModel"
          [(ngModel)]="schoolService.SchoolForm.SchoolName"
        />
        <br />
        <span class="alert alert-primary" *ngIf="Name.invalid && Name.touched">
          Please enter a School Name
        </span>
        <br />
        <br />

        <h6>School Email:</h6>
        <input
          required
          type="text"
          name="SchoolEmail"
          #Email="ngModel"
          [(ngModel)]="schoolService.SchoolForm.SchoolEmail"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Email.invalid && Email.touched"
        >
          Please enter a School Email
        </span>
        <br />
        <br />

        <h6>School Telephone:</h6>
        <input
          required
          minlength="10"
          type="text"
          name="SchoolTelephone"
          #Tel="ngModel"
          [(ngModel)]="schoolService.SchoolForm.SchoolTelephone"
        />
        <br />
        <span class="alert alert-primary" *ngIf="Tel.invalid && Tel.touched">
          Please enter a School Telephone
        </span>
        <br />
        <br />

        <h6>Village:</h6>
        <select
          required
          name="VillageID"
          #Village="ngModel"
          [(ngModel)]="schoolService.SchoolForm.VillageID"
        >
          <option
            *ngFor="let village of LocationList['Villages']"
            [value]="village.VillageID"
          >
            {{ village["VillageName"] }}
          </option>
        </select>

        <br />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Village.invalid && Village.touched"
        >
          Please select a Village
        </span>
        <br />
        <br />

        <button
          data-toggle="modal"
          data-target="#exampleModalCenter"
          [disabled]="schoolForm.invalid"
        >
          Create School
        </button>
        <button type="button" (click)="GoBack()">Cancel</button>
      </div>
    </form>
  </div>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to create a new School?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#succmodal"
          data-dismiss="modal"
          (click)="SaveSchool()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary btncancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="succmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">School was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-toggle="modal"
          data-dismiss="modal"
          
          (click)="GoBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
