body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  height: 130vh;
}
h6 {
  font-size: medium;
}

.faulttask-box {
  height: 80%;
  width: 800px;
  margin: 50px 0 0 370px;
  background-color: white;
  color: black;

  padding: 60px 0 60px 15%;
  box-shadow: 2px 2px 10px rgba(207, 209, 211, 0.1);
  margin-top: 5%;
}

.faulttask-box img {
  height: 50px;
}

.faulttask-text input {
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
  border-radius: 0;
  width: 400px;
  margin-bottom: 20px;
}

button {
  color: white;
  display: inline;
  width: 180px;
  height: 50px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 40px 20px 0 7px;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}

.cancel {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #cd1543;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}
.create {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}
.alert {
  width: 400px;
  margin: auto;
}
h1 {
  padding-left: 19%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
