<body>
  <form #MaintenanceTaskForm="ngForm">
    <br />
    <div class="faulttask-box">
      <h1>Maintenace Task</h1>
      <br />

      <div class="faulttask-text">
        <h6>Maintenance Task:</h6>
        <input
          type="text"
          required
          id="maintenancetask"
          name="maintenancetask"
          #MaintenanceTask="ngModel"
          [(ngModel)]="
            MaintenanceTaskService.MaintenanceTaskForm.MaintenanceTask1
          "
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="MaintenanceTask.invalid && MaintenanceTask.touched"
        >
          Please enter a maintenance task
        </span>

        <br />
        <br />

        <h6>Maintenance Task Description:</h6>
        <input
          type="text"
          required
          id="maintenancetaskdescription"
          name="maintenancetaskdescription"
          #MaintenanceTaskDescription="ngModel"
          [(ngModel)]="
            MaintenanceTaskService.MaintenanceTaskForm
              .MaintenanceTaskDescription
          "
        />
      </div>

      <span
        class="alert alert-primary"
        *ngIf="
          MaintenanceTaskDescription.invalid &&
          MaintenanceTaskDescription.touched
        "
      >
        Please enter a maintenance task Description
      </span>

      <br />
      <br />

      <h6>Maintenance Type:</h6>
      <select
        name="MaintenanceTypeID"
        required
        #MaintenanceType="ngModel"
        [(ngModel)]="
          MaintenanceTaskService.MaintenanceTaskForm.MaintenanceTypeID
        "
      >
        <option
          *ngFor="let MaintenanceType of MaintenanceTypes"
          [value]="MaintenanceType.MaintenanceTypeID"
        >
          {{ MaintenanceType.MaintenanceType }}
        </option>
      </select>
      <br />
      <span
        class="alert alert-primary"
        *ngIf="MaintenanceType.invalid && MaintenanceType.touched"
      >
        Please select a Maintenance Type
      </span>

      <br />
      <br />

      <h6>Part</h6>
      <select
        name="PartID"
        required
        #Part="ngModel"
        [(ngModel)]="MaintenanceTaskService.MaintenanceTaskForm.PartID"
      >
        <option *ngFor="let Part of Parts" [value]="Part.PartID">
          {{ Part.PartName }}
        </option>
      </select>
      <br />
      <span class="alert alert-primary" *ngIf="Part.invalid && Part.touched">
        Please select a part
      </span>

      <br />
      <br />

      <div>
        <button
          [disabled]="MaintenanceTaskForm.invalid"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Create
        </button>

        <!-- Button trigger modal -->
        <!-- type="button" data-toggle="modal" data-target="#Success" -->
        <button (click)="GoBackToList()">Cancel</button>
      </div>
    </div>
  </form>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to Create this Maintenance Task?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          class="btn btn-primary create"
          data-dismiss="modal"
          data-toggle="modal"
          data-target="#Success"
          (click)="SaveMaintenanceTask()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-secondary cancel">No</button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Maintenance Task was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
