<body>
  <div class="bicycle-box">
    <h1>User</h1>

    <!-- <img src="assets/images/723.jpg" /> -->
    <!-- <form #userForm="ngForm" (ngSubmit)="onFormSubmit(UserService.UserForm)"> -->
    <form #userForm="ngForm">
      <div class="bicycle-text">
        <h6>Name:</h6>
        <input
          type="text"
          required
          id="firstname"
          name="Firstname"
          #Firstname="ngModel"
          [(ngModel)]="UserService.UserForm.Firstname"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Firstname.invalid && Firstname.touched"
        >
          Please enter a Firstname.
        </span>
        <br />
        <br />

        <!-- <div>
          valid: {{Firstname.valid}}
          invalid: {{Firstname.invalid}}
        </div>
        <div>
          valid: {{userForm.valid}}
          invalid: {{userForm.invalid}}
        </div> -->

        <!-- <div class="alert alert-primary username" style="display: block;">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter a Name
        </div> -->

        <h6>Surname:</h6>
        <input
          type="text"
          required
          name="Surname"
          #Surname="ngModel"
          [(ngModel)]="UserService.UserForm.Surname"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Surname.invalid && Surname.touched"
        >
          Please enter a Surname.
        </span>
        <br />
        <br />

        <h6>Email:</h6>
        <input
       type = "text"
       pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
       minlength="8"
          required
          name="Email"
          #Email="ngModel"
          [(ngModel)]="UserService.UserForm.Email"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Email.invalid && Email.touched"
        >
          Please enter a valid email.
        </span>
        <br />
        <br />

        <h6>Username:</h6>
        <input
          type="text"
          required
          name="Username"
          #Username="ngModel"
          [(ngModel)]="UserService.UserForm.Username"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Username.invalid && Username.touched"
        >
          Please enter a Username.
        </span>
        <br />
        <br />

        <h6>User Type:</h6>
        <select
          name="UserTypeID"
          class="dropdown"
          required
          #UserType="ngModel"
          [(ngModel)]="UserService.UserForm.UserTypeID"
          (change)="UserTypeSelection($event)"
        >
          <option *ngFor="let userType of UserTypes" [value]="userType.ID">
            {{ userType.UserType }}
          </option>
          <!-- <option id="1" value="1" [(ngModel)]="ID" #UserTypeID="ngModel">Administrator</option>
          <option id="2" value="2" [(ngModel)]="ID" #UserTypeID="ngModel">Mechanic</option>
          <option id="3" value="3" [(ngModel)]="ID" #UserTypeID="ngModel">School Administrator</option> -->
        </select>
        <br />
        <span
          class="alert alert-primary"
          *ngIf="UserType.pristine && UserType.touched"
        >
          PLease select a User Type.
        </span>
        <br />
        <br />

        <!-- This div only shows up if the User chooses School Admin User Type -->
        <div *ngIf="ShowSchoolList">
          <br />
          <br />
          <h6>Schools:</h6>
          <select name="SchoolID" required #School [(ngModel)]="SchoolID">
            <option *ngFor="let school of SchoolList" [value]="school.SchoolID">
              {{ school.SchoolName }}
            </option>
          </select>
          <br />
          <span
            class="alert alert-primary"
            *ngIf="School.pristine && School.touched"
          >
            A School must be selected if you choose a User Type of School
            Administrator.
          </span>
          <br />
          <br />

          <br />
          <br />
        </div>
        <!-- workday list stuff -->
        <div *ngIf="ShowWorkList">
          <br />
          <br />
          <h6>WorkDays:</h6>
          <select name="WorkDayID" required #WorkDay [(ngModel)]="WorkDayID">
            <option *ngFor="let wd of WorkDayList" [value]="wd.WorkDayID">
              {{ wd.WorkDay1 }}
            </option>
          </select>
          <br />
          <span
            class="alert alert-primary"
            *ngIf="WorkDay.pristine && WorkDay.touched"
          >
            Please select a workday
          </span>
          <br />
          <br />

          <br />
          <br />
        </div>

        <h6>Phone Number:</h6>
        <input
          type="text"
          required
          minlength="10"
          maxlength="12"
          name="Telephone"
          #Telephone="ngModel"
          [(ngModel)]="UserService.UserForm.Telephone"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Telephone.invalid && Telephone.touched"
        >
          Please enter a valid Phone Number.
        </span>
        <br />
        <br />

        <h6>Password: (Must be a minimum of 10 characters)</h6>
        <input
          type="password"
          required
          minlength="10"
          name="Password"
          #Password="ngModel"
          [(ngModel)]="UserService.UserForm.Password"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Password.invalid && Password.touched"
        >
          Password must be a minimum off 10 characters.
        </span>
        <br />
        <br />

        <h6>Confirm Password:</h6>
        <input
          type="password"
          required
          minlength="10"
          name="ConfirmPassword"
          #ConfirmPassword="ngModel"
          [(ngModel)]="UserService.UserForm.ConfirmPassword"
        />

        <br />
        <span class="alert alert-primary" style="display: none">
          Please make sure the passwords match.
        </span>
        <br />
        <br />
        <br />

        <!-- <div class="alert alert-warning username" style="display: block">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> This form could not be submitted, please try
          again
        </div> -->

        <!-- Button trigger modal -->
        <!-- code to trigger confirmation modal -->
        <!--   -->
        <button
          data-toggle="modal"
          data-target="#exampleModalCenter"
          type="button"
          [disabled]="userForm.invalid"

        >
          Create
        </button>

        <!-- Button trigger modal -->
        <button
          (click)="GoBackToList()"
          type="button"
          data-toggle="modal"
          data-target="#Success"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</body>

<!-- Modal -->
<!--  -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to create a new User?</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
          (click)="SaveUser()"
        >
        <!-- -->
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
*ngIf = "passmatch"
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">User was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="NavigateHome()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Password check -->
<script>
  // if (
  //   document.getElementById("Password").textContent ==
  //   document.getElementById("ConfirmPassword").textContent
  // ) {
  //   document.getElementById("ConfirmPasswordSpan").style.display = "block";
  // }
</script>
