<body>
  <form [formGroup]="AntennaForm" (ngSubmit)="onFormSubmit(AntennaForm)">
    <div class="bicycle-box">
      <h1>Antenna</h1>
      <br />

      <div class="bicycle-text">
        <h6>Antenna Port:</h6>
        <input type="text" required formControlName="AntennaAddress" />

        <h6>Co-ordintates:</h6>
        <input type="text" required formControlName="CoOrdinates" />

        <h6>Status:</h6>
        <select
          class="form-control"
          required
          placeholder="AntennaStatus"
          formControlName="AntennaStatusID"
        >
          <option
            *ngFor="let antennastatus of AntennaStatusList"
            [value]="antennastatus.AntennaStatusID"
          >
            {{ antennastatus.AntennaStatus }}
          </option>
        </select>
        <br />
        <br />

        <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter Co-ordinates -->

        <h6>Suburb:</h6>
        <select
          class="form-control"
          required
          placeholder="Suburb"
          formControlName="SuburbID"
        >
          <option
            *ngFor="let suburb of LocationList['Suburbs']"
            [value]="suburb.SuburbID"
          >
            {{ suburb["SuburbName"] }}
          </option>
        </select>
        <br />
        <br />

        <h6>Date Installed:</h6>
        <input type="date" required formControlName="DateInstalled" />

        <br />
        <br />
        <span class="alert alert-primary" *ngIf="AntennaForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />
        <br />

        <button
          type="submit"
          data-toggle="modal"
          data-target="#succup"
          [disabled]="!AntennaForm.valid"
        >
          Update
        </button>
        <button
          type="button"
          data-toggle="modal"
          data-target="#delete"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </form>
</body>

<!-- Succ Up -->
<div
  class="modal fade"
  id="succup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Antenna was successfully Updated</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-toggle="modal"
          data-dismiss="modal"
          (click)="GoBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Antenna?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#update"
          (click)="DeleteAntenna(AntennaID)"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- delsucc -->
<div
  class="modal fade"
  id="update"
  tabindex="-1"
  role="dialog"
  aria-labelledby="update"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Success</h5>
      </div>
      <div class="modal-body">The Antenna has beeen deleted successfully.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="GoBack()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
