<form #StudentForm="ngForm">
  <body>
    <div class="bicyclePart">
      <h1>Log Report</h1>

      <br />
      <br />

      <div>
        <button
          (click)="exportexcel()"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="StudentForm.invalid"
          data-toggle="modal"
          data-target="#download"
        >
        Download in Excel
      </button>
<!-- Will see you in the morning bra-->
      <!-- <button [href]="downloadJsonHref" download="download.json" -->
      <!-- <button
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
        data-toggle="modal"
        data-target="#download"
        >
        Download in JSON
      </button> -->

        <button
          (click)="GenerateReport()"
          id="generaterTing"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="StudentForm.invalid"
        >
          Generate Report
        </button>

        <br />
        <br />

        <label for="Start Date">Start Date: </label>
        <input
          required
          #startDate="ngModel"
          class="Datey"
          type="date"
          id="startdate"
          name="startDate"
          [(ngModel)]="start"
        />
        &nbsp; &nbsp;
        <label for="End Date">End Date: </label>
        <input
          required
          #endDate="ngModel"
          class="Datey"
          type="date"
          id="enddate"
          name="endDate"
          [(ngModel)]="end"
        />
      </div>

      <br />

      <span
        class="alert alert-primary"
        *ngIf="startDate.invalid && startDate.touched"
      >
        Please enter a start date
      </span>

      <span
        class="alert alert-primary"
        *ngIf="endDate.invalid && endDate.touched"
      >
        Please enter a end date
      </span>

      <div>
        <table class="table" id="table">
          <!--START OF FIRST TABLE-->
          <div *ngFor="let antenna of TableData; let i = index">
            <br>
            <thead class="thead">
              <tr>
                <!-- <td colspan="2" id="ControlBreakHead"> Antenna Serial Number : {{ antenna.AntennaSerialNumber }} | Status - {{ antenna.AntennaStatus }} </td> -->
                <td colspan="2" id="ControlBreakHead"> Antenna Port : {{ antenna.AntennaPort }} | Status - {{ antenna.AntennaStatus }} </td>
                <td id="blankem"> </td>
                <td id="blankem"> </td>
                <td id="ControlBreakHead"> Start Date : {{ start }}</td>
                <td id="ControlBreakHead"> End Date : {{ end }}</td>
              </tr>
              <tr>
                <th scope="col">Tag Serial Number</th>
                <th scope="col">Bicycle Code</th>
                <th scope="col">Student Name</th>
                <th scope="col">School</th>
                <th scope="col">Entry Date</th>
                <th scope="col">Entry Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tag of antenna.Tags">
                <td id="someshade" scope="row">{{ tag.TagSerialNumber }}</td>
                <td>{{ tag.BicycleCode }}</td>
                <td>{{ tag.StudentName }}</td>
                <td>{{ tag.School }}</td>
                <td>{{ tag.entryDate }}</td>
                <td>{{ tag.entryTime }}</td>
              </tr>
              <tr>
                <td id="blankem"></td>
                <td id="blankem"></td>
                <td id="blankem"></td>
                <td id="ControlBreakFoot"> Total Tags: {{ antenna.TotalTags }} </td>
                <td colspan="2" id="ControlBreakFoot"> Coordinates: {{ antenna.Coordinates }} </td>
              </tr>
            </tbody>
          </div>
        </table>
        <!--END OF FIRST TABLE-->
      </div>

    </div>

    <br>

    <h2>Total Tags: {{ totalage }}</h2>
  </body>
</form>

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Log Report has been downloaded successfully.</div>
      <div class="modal-footer">
        <button type="button" class="thebutton" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>