<form [formGroup]="UserTypeForm" (ngSubmit)="onFormSubmit(UserTypeForm)">
  <body>
    <div class="bicycle-box">
      <h1>User Type</h1>

      <div class="bicycle-text">
        <input
          required
          type="text"
          class="form-control"
          placeholder="User Type ID"
          formControlName="UserTypeID"
          style="display: none"
        />
        <h6>Type:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="User Type"
          formControlName="UserType1"
        />

        <h6>Permissions:</h6>
        <select
          class="form-control"
          placeholder="User Permissions"
          formControlName="UserPermissions"
        >
          <option>High</option>
          <option>Moderate</option>
          <option>Low</option>
        </select>
        <br />

        <span class="alert alert-primary" *ngIf="UserTypeForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />

        <br />

        <!-- data-toggle="modal" data-target="#UpdateModal" -->
        <button
          type="submit"
          data-toggle="modal"
          data-target="#successup"
          [disabled]="!UserTypeForm.valid"
        >
          Update
        </button>
        
<!-- HIDE DELETE COZ IT"S AN IMPORTANT LOOKUP THAT CANT BE DELETED -->
        <!-- <button type="button" data-toggle="modal" data-target="#DeleteModal">
          Delete
        </button> -->
      </div>
    </div>

    <!-- <button type="button" data-toggle="modal" data-target="#success">
      success message
    </button> -->
  </body>

  <!-- Update Modal -->

  <!--Delete Modal -->
  <div
    class="modal fade"
    id="DeleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to Delete this User Type?
        </div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            (click)="DeleteUserType(ID)"
            data-toggle="modal"
            data-target="#delete"
            data-dismiss="modal"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-secondary cancel"
            data-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- SuccessUpdateModal -->
  <div
    class="modal fade"
    id="successup"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">User Type was successfully Updated</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary OkBtn"
            data-dismiss="modal"
            (click)="UserType()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Successful delete -->
  <div
    class="modal fade"
    id="delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">User was successfully Deleted</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary OkBtn"
            data-dismiss="modal"
            (click)="UserType()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
